manifest {
    name = 'NBIS Genome Annotation Workflow'
    author = 'Mahesh Binzer-Panchal, Jacques Dainat, Lucile Soler'
    homePage = ''
    description = 'A workflow for genome annotation'
    mainScript = 'main.nf'
    nextflowVersion = '!>=21.04.1'
    version = '1.0'
}

params {
    enable_conda = false
    outdir = './results'
    publish_dir_mode = 'copy'
    singularity_pull_docker_container = true
}

includeConfig '$baseDir/conf/modules.config'

profiles {

    uppmax {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '$SNIC_TMP'
        }
        includeConfig "$baseDir/config/compute_resources.config"
        singularity.enabled = true
        singularity.envWhitelist = 'SNIC_TMP'
        includeConfig "$baseDir/config/software_packages_uppmax.config"
    }

    conda {
        includeConfig "$baseDir/config/software_packages.config"
    }

    docker {
        docker.enabled = true
        docker.userEmulation = true
        includeConfig "$baseDir/config/software_packages.config"
        // docker.runOptions='-u "$( id -u ):$( id -g )"'
    }

    singularity {
        singularity.enabled = true
        includeConfig "$baseDir/config/software_packages.config"
    }

    nbis {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '/scratch'
        }
        includeConfig "$baseDir/config/compute_resources.config"
    }

    test {
        includeConfig "$baseDir/config/test_profile.config"
    }
}
